<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>All emails</title>
</head>
<body>

<a th:href="@{/emails}" class="link link_index">Send email:</a>

<div class="page">
    <div class="container">
        <div class="main" th:each="element : ${listOfemails}">
            <div class="form__group">
                <p th:text="'From: ' + ${element.getFrom()}" id="from">example@gmail.com</p>
                <p th:text="'Subject: ' + ${element.getSubject()}" id="subject">Hello subject</p>
                <p th:text="'Content: ' + ${element.getContent()}" id="content">Hello content</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>